# Local installation configuration
web/config/config.dta
docs/*.pdf

# SQLite databases
*.db
*.db-bup

# Python bytecode/cache
__pycache__/
*.pyc

# Editor backup and lock files
*~
.~lock.*
git.tkn

# User configured files for testing/validation
web/etc/security.txt

*Ignore tarballs
./*gz
./web/*gz
./RELEASE/*.gz
